<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="header w1200">
		<div class="w1200">

			<ul class="layui-nav" lay-filter="">

				<li class="logo-ico"><img src="../images/logo-4.png"></li>

			  <li class="layui-nav-item"><a href="/">首页</a></li>
			  <li class="layui-nav-item layui-this">
			    <a href="javascript:;">个人中心</a>
			    <dl class="layui-nav-child"> <!-- 二级菜单 -->
			      <dd><a href="center">个人资料</a></dd>
			      <dd><a href="list">图书管理</a></dd>
			      <dd><a href="exit">退出系统</a></dd>
			    </dl>
			  </li>
			  <li class="layui-nav-item"><a href="">更多资源</a></li>
			</ul>

		</div>
	</div>

</body>
</html>